/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
}
/* COMMON */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 63%;
    margin: auto;
}
/* HEADER */
h1{
    text-align: center;
    margin: 30px;
    color: #e53170;
}
.text-center{
    text-align: center;
    margin-bottom: 50px;
}
/* MAIN */
img{
    height: 100px;
}
.col{
    width: calc(100% / 3);
    float: left;
    padding: 15px;
}
.card{
    background-color: #0f0e17;
    height: 100px;
}
.card-text{
    float: right;
    margin: 10px 0;
    padding-right: 110px ;
    font-weight: 400;
    color: white;
}
.email{
    color: #4cc6ee;
}
h3{
    padding: 5px 0;
}
span{
    margin: 10px 0;
}
p{
    margin-top: 5px;
}